*.class
*.jar
*.war
*.ear
hs_err_pid*
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
aiml-java-interpreter.ipr
aiml-java-interpreter.iml
aiml-java-interpreter.iws
.gradle
.idea
/build/
/app-core/app-core.iml
/app-core/build
/app-core/build/
/app-core/target/
/app-core/log/
/log/
